<form>
  <div class="form-group">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" id="inputCity" placeholder="City" ng-model="$ctrl.edit.city">
  </div>
  <div class="form-group">
    <label for="inputUniversity">University</label>
    <input type="text" class="form-control" id="inputUniversity" placeholder="University" ng-model="$ctrl.edit.university">
  </div>
  <div class="form-group">
    <label for="inputFaculty">Faculty</label>
    <input type="text" class="form-control" id="inputFaculty" placeholder="Faculty" ng-model="$ctrl.edit.faculty">
  </div>
  <button type="submit" class="btn btn-default" disabled>Submit</button>
</form>
