<div class="form-group">
  <label for="universityInput" class="sr-only">University</label>
  <input
    type="search"
    class="form-control"
    id="universityInput"
    placeholder="University"
    ng-model="$ctrl.search"
    ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0}}"
    ng-change="$ctrl.searchUpdate()"
  >
</div>
<div class="list-group">
  <a
    class="list-group-item"
    ng-repeat="university in $ctrl.universities"
    ui-sref="city.university.faculty({universityId: university.id})"
  >
    {{university.title}}
  </a>
</div>
