body {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body > div {
  flex-basis: 20%;
}

body > div:not(:last-child) {
  margin-right: 20px;
}
